<main class="page__main">
  <section class="profile">
    <div class="profile__container">
      <h1 class="profile__container--title">irene manas</h1>
    </div>
  </section>
  <section class="work">
    <div class="work__element">
      <img class="work__element--img" src="./assets/images/trib-page.png" alt="" />
      <div class="work__element--text">
        <h4 class="work__element--title">tribute page</h4>
        <p class="work__element--tech">html | css</p>
      </div>
    </div>
    <div class="work__element">
      <img class="work__element--img" src="./assets/images/surv-form.png" alt="" />
      <div class="work__element--text">
        <h4 class="work__element--title">survey form</h4>
        <p class="work__element--tech">html | css</p>
      </div>
    </div>
    <div class="work__element">
      <img class="work__element--img" src="./assets/images/prod-page.png" alt="" />
      <div class="work__element--text">
        <h4 class="work__element--title">product page</h4>
        <p class="work__element--tech">html | css</p>
      </div>
    </div>
    <div class="work__element">
      <img class="work__element--img" src="./assets/images/doc-page.png" alt="" />
      <div class="work__element--text">
        <h4 class="work__element--title">documentation page</h4>
        <p class="work__element--tech">html | sass</p>
      </div>
    </div>
    <div class="work__element">
      <img class="work__element--img" src="./assets/images/r&m-spa.png" alt="" />
      <div class="work__element--text">
        <h4 class="work__element--title">rick & morty spa</h4>
        <p class="work__element--tech">react</p>
      </div>
    </div>
    <div class="work__element">
      <img class="work__element--img" src="./assets/images/cards.png" alt="" />
      <div class="work__element--text">
        <h4 class="work__element--title">cards app</h4>
        <p class="work__element--tech">react</p>
      </div>
    </div>
  </section>
</main>
