<main class="page__main">
  <section class="welcome-section" id="welcome-section">
    <div class="welcome-section__quote">
      <p class="welcome-section__quote--text">
        "I am courageous, detail oriented and responsible to any task that I assume"
      </p>
    </div>
    <div class="welcome-section__container">
      <h1 class="welcome-section__container--title">irene mañas</h1>
      <h4 class="welcome-section__container--subtitle">front-end developer</h4>
    </div>
  </section>
  <section class="projects" id="projects">
    <div class="projects__element">
      <a
        href="
      https://irenemanas.github.io/tribute-page-carmen-alcaide/"
        target="_blank"
        ><img class="projects__element--img" src="./assets/images/trib-page.png" alt=""
      /></a>
      <div class="projects__element--text">
        <h4 class="projects__element--title">tribute page</h4>
        <p class="projects__element--tech">html | css</p>
      </div>
    </div>
    <div class="projects__element">
      <a href="https://irenemanas.github.io/portfolio-survey-form/" target="_blank"
        ><img class="projects__element--img" src="./assets/images/surv-form.png" alt=""
      /></a>
      <div class="projects__element--text">
        <h4 class="projects__element--title">survey form</h4>
        <p class="projects__element--tech">html | css</p>
      </div>
    </div>
    <div class="projects__element">
      <a href="https://irenemanas.github.io/product-page/" target="_blank"
        ><img class="projects__element--img" src="./assets/images/prod-page.png" alt=""
      /></a>
      <div class="projects__element--text">
        <h4 class="projects__element--title">product page</h4>
        <p class="projects__element--tech">html | css</p>
      </div>
    </div>
    <div class="projects__element">
      <a href="https://irenemanas.github.io/JS-documentation-page/" target="_blank"
        ><img class="projects__element--img" src="./assets/images/doc-page.png" alt=""
      /></a>
      <div class="projects__element--text">
        <h4 class="projects__element--title">doc. page</h4>
        <p class="projects__element--tech">html | sass</p>
      </div>
    </div>
    <div class="projects__element">
      <a href="https://irenemanas.github.io/rick-and-morty-spa/#/" target="_blank"
        ><img class="projects__element--img" src="./assets/images/r&m-spa.png" alt=""
      /></a>
      <div class="projects__element--text">
        <h4 class="projects__element--title">rick & morty spa</h4>
        <p class="projects__element--tech">react</p>
      </div>
    </div>
    <div class="projects__element">
      <a href="https://awesome-profile-cards-team-7.herokuapp.com/#/" target="_blank"
        ><img class="projects__element--img" src="./assets/images/cards.png" alt=""
      /></a>
      <div class="projects__element--text">
        <h4 class="projects__element--title">cards app</h4>
        <p class="projects__element--tech">react</p>
      </div>
    </div>
  </section>
  <section class="contact" id="contact">
    <div class="contact__text">
      <h2 class="contact__text--title">Let's work together...</h2>
      <h4 class="contact__text--subtitle">contact me</h4>
    </div>
    <div class="contact__social">
      <ul class="contact__social--top">
        <li class="contact__social--element">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <a class="contact__social--link" href="tel:0034646472283" target="_blank">34 - 646 - 472283</a>
        </li>
        <li class="contact__social--element">
          <i class="fa fa-envelope" aria-hidden="true"></i
          ><a class="contact__social--link" href="mailto:irenemanas@gmail.com" target="_blank">irenemanas@gmail.com</a>
        </li>
      </ul>
      <ul class="contact__social--bot">
        <li class="contact__social--element">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i
          ><a class="contact__social--link" href="https://www.linkedin.com/in/irenemanas/" target="_blank"
            >www.linkedin.com/in/irenemanas</a
          >
        </li>
        <li class="contact__social--element" id="profile-link">
          <i class="fa fa-github" aria-hidden="true"></i
          ><a class="contact__social--link" href="https://github.com/irenemanas" target="_blank"
            >https://github.com/irenemanas</a
          >
        </li>
      </ul>
    </div>
  </section>
</main>
