<main class="page__main">
  <img src="./assets/images/trib-page.png" alt="" />
  <img src="./assets/images/surv-form.png" alt="" />
  <img src="./assets/images/prod-page.png" alt="" />
  <img src="./assets/images/doc-page.png" alt="" />
  <img src="./assets/images/r&m-spa.png" alt="" />
  <img src="./assets/images/cards.png" alt="" />

  <ul class="main__list">
    <li>
      <include
        src="./link.html"
        aClass="link__github"
        text="IreneManasGitHub"
        url="https://github.com/irenemanas"
        targe="_blank"
      ></include>
    </li>
  </ul>
</main>
